/* General Styles */
.service-card {
  margin: 10px;
}

.card {
  border: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.card-title {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #1e1d4c;
  font-weight: 900;
  font-family: "Poppins";
}

.card-text {
  margin-top: 0.4rem;
  font-size: 0.7rem;
  color: #5e6282;
  font-weight: 500;
  font-family: "Poppins";
  margin-bottom: 2vh;
}

/* Vertical Card Styles */
.vertical .card-img-container {
  text-align: center;
  margin-top: 20px;
}

.card-img-vertical {
  width: 50%;
  margin: auto;
}

/* Horizontal Card Styles */
.horizontal {
  display: flex;
  flex-direction: row;
  /* width: 35vw;
  height:10vh; */
}

.horizontal .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15vw;
}

.card-img-horizontal {
  width: 60%;
  margin: 10px;
  margin-left: 15px;
}

.horizontal .card-body {
  flex: 1;
}

@media (max-width: 1200px) {
  .horizontal .card {
    margin-left: 10vw;
  }

  .card-title {
    font-size: 0.8rem;
  }

  .card-text {
    font-size: 0.65rem;
  }
}

@media (max-width: 992px) {
  .horizontal .card {
    margin-left: 5vw;
  }

  .card-title {
    font-size: 0.75rem;
  }

  .card-text {
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  .horizontal {
    flex-direction: column;
    align-items: center;
  }

  .horizontal .card {
    margin-left: 9vw;
    width: 80vw;
  }

  .card-img-horizontal {
    width: 80%;
    margin-top: 18px;
    margin-left: 7px;
  }

  .card-title {
    font-size: 0.7rem;
  }

  .card-text {
    font-size: 0.55rem;
  }
}

@media (max-width: 576px) {
  .horizontal .card {
    width: 80vw;
  }

  .card-img-horizontal {
    width: 72%;
  }

  .card-title {
    font-size: 0.65rem;
  }

  .card-text {
    font-size: 0.5rem;
  }
}

@media (max-width: 480px) {
  .horizontal .card {
    width: 90vw;
    margin-left: 2vw;
  }

  .card-img-horizontal {
    width: 80%;
    margin-top: 18px;
    margin-left: 5px;
  }

  .card-title {
    font-size: 0.6rem;
  }

  .card-text {
    font-size: 0.45rem;
  }
}
